<title>A Voting App - By Thomas VanDivier</title>
<meta name="description" content="A Voting App">
<link id="favicon" rel="icon" href="https://cdn.glitch.com/89a03762-e739-4325-9712-3aee92acbb35%2Ffox.jpg?1527224484607" type="image/x-icon">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">