<html>
<head>
    <%- include partials/head.ejs %>
    <style>
      body{
        background-color: #ccc;
      }
      header{
        text-align: center;
        padding-top: 5px;
        height: 2.3em;
        font-size: 2em;
        background-color: #3030a9;
        color: #ccc;
      }
      button{
        margin-left: 47vw;
        border-radius: 10px;
      }
      footer{
        position: absolute;
        width: 100%;
        margin-top: 20vw;
        text-align: center;
      }
      nav{
        display: flex;
        flex-direction: row;
      }
      .nav-btn{
        height: 30px;
        background-color: #ccc;
        flex-grow: 1;
        font-size: 1.5em;
        text-align: center;
        padding-top: 5px;
        border: 1px solid #000;
      }
      .nav-btn:hover{
        background-color: #cce;
      }
      #create{
        color: blue;
        order: 0;
      }
      #search{
        color: blue;
        order: 1;
      }
      #home{
        color: blue;
        order: 2;
      }
      #file{
        margin-top: 20vh;
        margin-left: 10vw;
        margin-right: 10vw;
        padding: 5px 5px 10px 5px;
        width: auto;
        height: auto;
        background-color: #7a98b0;
        text-align: center;
        color: #cecdce;
      }
      #status{
        margin-top: 10px;
        margin-left: 30vw;
        margin-right: 30vw;
        text-align: center;
        width: auto;
        height: auto;
        background-color: #db5560;
        font-size: 2em;
      }
      @media only screen and (max-device-width:450px){
        .choices{
          margin-left: 20vw;
        }
        #file{
          margin-top: 10vh;
          margin-left: 1vw;
          margin-right: 1vw;
          word-wrap: break-word;
          padding: 5px 5px 10px 5px;
          width: auto;
          height: auto;
          background-color: #7a98b0;
          text-align: center;
          color: #cecdce;
        }
        #status{
          margin-top: 10px;
          margin-left: 30vw;
          margin-right: 30vw;
          text-align: center;
          width: auto;
          height: auto;
          background-color: #db5560;
          font-size: 2em;
        }
      }
    </style>
    <!--<link rel="stylesheet" href="/styles/index.css"/>-->
</head>
<body>
<%- include partials/header.ejs %>

<nav id="nav">
    <div id="create" class="nav-btn">Create New</div>
    <div id="search" class="nav-btn">Search</div>
    <div id="home" class="nav-btn">Home</div>
</nav>
<hr/>
<div id="file">
    <h1>
        <%= tried %> Was Not Found.
    </h1>
</div>
<div id="status">
    <p>
        Status <%= status %>
    </p>
</div>
</body>
<script src="/scripts/error.js"></script>
</html>