<html>
<head>
    <title>A Voting App - By Thomas VanDivier</title>
    <meta name="description" content="A Voting App">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/89a03762-e739-4325-9712-3aee92acbb35%2Ffox.jpg?1527224484607" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body>
<header>A Simple Voting App</header>
<form name="signin" type="get" action="/login">
    <h4 class="choices">Sign in with Github: <input id="github" name="github" type="checkbox"/></h4>
    <h4 class="choices">Sign in with E-mail: <input id="email" name="email" type="checkbox"/></h4>
    <hr/>
    <button type="submit">Submit</button>
</form>
<!--<h1 id="page"><%= query %></h1>-->
</body>
<script src="/scripts/index.js"></script>
</html>