<html>
<head>
    <%- include partials/head.ejs %>
    <style>
      body{
        background-color: #ccc;
      }
      header{
        text-align: center;
        padding-top: 5px;
        height: 2.3em;
        font-size: 2em;
        background-color: #3030a9;
        color: #ccc;
      }
      footer{
        position: absolute;
        width: 100%;
        margin-top: 30vw;
        text-align: center;
      }
      #page{
        background-color: #fff;
        color: #0d0;
      }
    </style>
    <!--<link rel="stylesheet" href="/styles/login.css"/>-->
</head>
<body>
<%- include partials/header.ejs %>
<h1 id="page"><%= query %></h1>
</body>
<%- include partials/footer.ejs %>
</html>