<!DOCTYPE html>
<html>
<head>
    <title>Security.txt</title>
</head>
<body>
<h1>
    Meow!
</h1>
<p>twitter: @EncodedVoid</p>
<p>Github: /fractalfox01</p>
<p>G-mail: fractalfox5@</p>
<h4>
    Thanks! :)
</h4>
</body>
</html>