body{
  background-color: #ccc;
}
header{
  text-align: center;
  padding-top: 5px;
  height: 2.3em;
  font-size: 2em;
  background-color: #3030a9;
  color: #ccc;
}
input{
  background-color: #fff;
  width: 20px;
  height: 20px;
}
button{
  margin-left: 47vw;
  border-radius: 10px;
}
#page{
  background-color: #fff;
  color: blue;
}
.choices{
  margin-left: 42vw;
}